extends layout

block content
    form(method="post")
        label(for="user") User:
        input(name="user", value=locals.user)
        br
        label(for="name") Name:
        input(name="name", value=locals.name)
        br
        label(for="mail") Mail:
        input(name="mail", value=locals.mail)
        br
        label(for="password") Password:
        input(name="password", type="password")
        br
        label(for="password2") again :
        input(name="password2", type="password")
        br
        button(type="submit") Register

