html, body
    background black url('HD_wave_wallpaper_by_NeonSalad.jpg') no-repeat 50% 0% fixed
    color #eee
    font 12px Helvetica, Arial, sans-serif
    
h1
    position absolute
    top 50px
    left 50%
    margin-left -100px
    width 400px
    height 300px
    font-weight bold
    text-align center

form
    position absolute
    top 50px
    left 50%
    margin-left -100px
    margin-top 70px
    width 380px
    height 300px
    background rgba(0,0,0,.6)
    border-radius 20px
    border solid 5px rgba(255, 255, 255, .85)
    font-weight bold
    text-align center
    padding 0 20px

form::before 
    display block
    position absolute
    top 0
    left -400px
    top -70px
    width 367px
    height 489px
    background url('plonk.png') no-repeat 0 50%
    content ''
    

label
    width 100px
    text-align right
    display block
    float left
    clear both
    padding 6px 5px
    margin-top 10px

input
    margin-top 10px
    background #333
    border solid 2px #fff
    border-radius 5px
    color white
    font-weight bold
    padding 3px 5px
    
button
    margin 10px 0
    background #333
    border solid 2px #fff
    border-radius 5px
    color white
    font-weight bold
    padding: 5px 20px

button:hover
    background #666

a
    color #ccc

a:hover
    color #fff
